<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFSampleItem1</key>
	<dict>
		<key>table</key>
		<string>sample_item1</string>
		<key>columnMap</key>
		<dict>
			<key>primaryKeyPart1</key>
			<dict>
				<key>columnName</key>
				<string>primary_key_part1</string>
				<key>isPrimaryKey</key>
				<true/>
			</dict>
			<key>primaryKeyPart2</key>
			<dict>
				<key>columnName</key>
				<string>primary_key_part2</string>
				<key>isPrimaryKey</key>
				<true/>
			</dict>
			<key>primaryKeyPart3</key>
			<dict>
				<key>columnName</key>
				<string>primary_key_part3</string>
				<key>isPrimaryKey</key>
				<true/>
			</dict>
			<key>stringValue</key>
			<string>string_value</string>
			<key>integerValue</key>
			<string>integer_value</string>
			<key>doubleValue</key>
			<string>double_value</string>
			<key>boolValue</key>
			<string>bool_value</string>
			<key>dateValue</key>
			<string>date_value</string>
		</dict>
	</dict>
	<key>EFSampleItem2</key>
	<dict>
		<key>table</key>
		<string>sample_item2</string>
		<key>columnMap</key>
		<dict>
			<key>somePrimaryKey</key>
			<dict>
				<key>columnName</key>
				<string>primary_key</string>
				<key>isPrimaryKey</key>
				<true/>
			</dict>
			<key>stringValue</key>
			<dict>
				<key>columnName</key>
				<string>string_value</string>
				<key>isPrimaryKey</key>
				<false/>
			</dict>
			<key>integerValue</key>
			<string>integer_value</string>
			<key>doubleValue</key>
			<string>double_value</string>
			<key>boolValue</key>
			<string>bool_value</string>
			<key>dateValue</key>
			<string>date_value</string>
		</dict>
	</dict>
	<key>EFSampleItem3</key>
	<dict>
		<key>table</key>
		<string>sample_item3</string>
		<key>columnMap</key>
		<dict>
			<key>stringValue</key>
			<string>string_value</string>
			<key>integerValue</key>
			<string>integer_value</string>
			<key>doubleValue</key>
			<string>double_value</string>
			<key>boolValue</key>
			<string>bool_value</string>
			<key>dateValue</key>
			<string>date_value</string>
		</dict>
	</dict>
</dict>
</plist>
